<div class="p-grid p-d-flex p-flex-column p-jc-center p-ai-center h-100">
    <div class="right p-col-12 p-md-12 p-lg-6 p-px-3 p p-px-sm-4">
        <div class="form-content p-p-1 p-p-sm-4 p-shadow-12">
            <div class="form-header p-d-flex p-flex-column p-jc-center p-ai-center p-mb-4">
                <!-- <div class="p-text-center">
                    <h3>{{'t.welcometo' | translate}}</h3>
                </div> -->
                <img class="logo p-pb-0 p-pt-5" src="assets/images/logo_databits_blue.svg"
                    alt="talentbits">
                <p class="p-text-center muli-bolder" *ngIf="!submitted">
                    {{'t.descriptionRecover' | translate}}
                </p>
                <p class="p-text-center muli-bolder" *ngIf="submitted">
                    {{'t.descriptionRecoverSuccess' | translate}} {{loginForm.get('username')?.value}}
                </p>
            </div>
            <form class="p-mb-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!submitted">
                <div class="p-fluid p-field">
                    <span class="p-float-label">
                        <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input id="username" class="form-control" type="text" pInputText
                                placeholder="{{'t.email' | translate}} *" formControlName="username">
                        </span>
                    </span>
                    <div
                        *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                        <div *ngIf="loginForm.get('username')?.errors?.required">
                            <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                        </div>
                        <div *ngIf="loginForm.get('username')?.errors?.pattern">
                            <small class="p-error">{{'t.errorEmail' | translate}}</small>
                        </div>
                        <div *ngIf="loginForm.get('username')?.errors?.maxlength">
                            <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                        </div>
                    </div>
                </div>
                <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
                    <button pButton type="submit" label="{{'t.send' | translate}}" class="p-button w-100"></button>
                    <div class="p-text-center w-100 p-mt-2">
                        <a [routerLink]="['/authentication/login']">{{'t.goLogin' | translate}}</a>
                    </div>
<!--                     <div class="p-mt-4">
                        <span>{{'t.notyetaccount' | translate}} </span> <a href=""><span>{{'t.signin' |
                                translate}}</span></a>
                    </div> -->
                </div>
            </form>
            <div *ngIf="submitted">
                <div class="p-mb-3">
                    <p-message severity="success" text="{{'t.submittedRecoverMessage' | translate}}" [style]="{width: '100%'}"></p-message>
                </div>
                <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
                    <button pButton type="button" label="{{'t.newRecoverPassword' | translate}}" class="p-button w-100" (click)="reset()"></button>
                    <div class="p-text-center w-100 p-mt-2">
                        <a [routerLink]="['/authentication/login']">{{'t.goLogin' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner name="load" type="ball-clip-rotate-multiple" size="medium" bdColor="rgba(0,0,0,0.5)">
    <p style="font-size: 14px; color: white">{{'t.waiting' | translate}}</p>
</ngx-spinner>

