<div class="p-grid p-d-flex p-flex-column p-jc-center p-ai-center h-100">
    <div class="right p-col-12 p-md-12 p-lg-6 p-px-3 p p-px-sm-4">
        <div class="form-content p-p-1 p-p-sm-4 p-shadow-12">

            <div class="form-header p-d-flex p-flex-column p-jc-center p-ai-center p-mb-4">
                <!-- <div class="p-text-center">
                    <h3>{{'t.welcometo' | translate}}</h3>
                </div> -->
                <img class="logo p-pb-0 p-pt-5" src="assets/images/logo_databits_blue.svg"
                    alt="talentbits">
                <p class="p-text-center muli-bolder">
                    {{'t.descriptionResetPassword' | translate}}
                </p>
            </div>

            <ng-container *ngIf="codeValid">
                <form class="p-mb-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!submitted">
                    <div class="p-fluid p-field">
                        <span class="p-float-label">
                            <span class="p-input-icon-left">
                                <i class="pi pi-lock"></i>
                                <input id="password" class="form-control" type="password" pInputText
                                    placeholder="{{'t.password' | translate}} *" formControlName="password">
                            </span>
                        </span>
                        <div
                            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                            <div *ngIf="loginForm.get('password')?.errors?.required">
                                <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                            </div>
                            <div *ngIf="loginForm.get('password')?.errors?.pattern">
                                <small class="p-error">{{'t.errorPassword' | translate}}</small>
                            </div>
                            <div *ngIf="loginForm.get('password')?.errors?.maxlength">
                                <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="p-fluid p-field">
                        <span class="p-float-label">
                            <span class="p-input-icon-left">
                                <i class="pi pi-lock"></i>
                                <input id="passwordVerify" class="form-control" type="password" pInputText
                                    placeholder="{{'t.confirmPassword' | translate}} *" formControlName="passwordVerify">
                            </span>
                        </span>
                        <div
                            *ngIf="loginForm.get('passwordVerify')?.invalid && (loginForm.get('passwordVerify')?.dirty || loginForm.get('passwordVerify')?.touched)">
                            <div *ngIf="loginForm.get('passwordVerify')?.errors?.required">
                                <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                            </div>
                            <div *ngIf="loginForm.get('passwordVerify')?.errors?.pattern">
                                <small class="p-error">{{'t.errorEmail' | translate}}</small>
                            </div>
                            <div *ngIf="loginForm.get('passwordVerify')?.errors?.maxlength">
                                <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>Las contraseñas deben tener:</p>
                        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                            <li>{{'t.onelowercase' | translate}}</li>
                            <li>{{'t.oneuppercase' | translate}}</li>
                            <li>{{'t.onenumber' | translate}}</li>
                            <li>{{'t.minchars' | translate:{'min':'7'} }}</li>
                            <li>Caracteres especiales permitidos: #?!@$%^&*</li>
                        </ul>
                    </div>
                    <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
                        <button pButton type="submit" label="{{'t.descriptionResetPassword' | translate}}" class="p-button w-100"></button>
                        <div class="p-text-center w-100 p-mt-2">
                            <a [routerLink]="['/authentication/login']">{{'t.goLogin' | translate}}</a>
                        </div>
                    </div>
                </form>
                <div *ngIf="submitted">
                    <div class="p-mb-3">
                        <p-message severity="success" text="{{'t.submittedResetPasswordMessage' | translate}}" [style]="{width: '100%'}"></p-message>
                    </div>
                    <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
                        <div class="p-text-center w-100 p-mt-2">
                            <a [routerLink]="['/authentication/login']">{{'t.goLogin' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <ng-container *ngIf="!codeValid">
                <div>
                    <div class="p-mb-3">
                        <p-message severity="warn" text="{{messageCode}}" [style]="{width: '100%'}"></p-message>
                    </div>
                    <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
                        <div class="p-text-center w-100 p-mt-2">
                            <a [routerLink]="['/authentication/login']">{{'t.goLogin' | translate}}</a>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>
<ngx-spinner name="load" type="ball-clip-rotate-multiple" size="medium" bdColor="rgba(0,0,0,0.5)">
    <p style="font-size: 14px; color: white">{{'t.waiting' | translate}}</p>
</ngx-spinner>

