:host ::ng-deep .send-dialog {

    i {
        color: var(--theme-color-4);
    }
}
.name-evaluation {
    color: var(--theme-color-4);
}
.name-process {
    color: var(--theme-color-4);
}
.subtitle {
    color: var(--theme-color-1);
}
strong {
    color: var(--cyan-900);
}
.introduction {
    background: white;
}
