<div class="p-grid p-mt-4 p-mx-0 p-jc-center">
    <div class="p-col-12 p-md-9 p-lg-8">
        <mat-horizontal-stepper [linear]="true" #stepper class="mat-typography">
            <!-- USER STEP-->
            <mat-step [stepControl]="userForm">
                <ng-template matStepLabel>{{'t.user' | translate}}</ng-template>
                <div class="p-grid p-mt-1 p-mx-0 p-jc-center">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <p-divider align="center">{{'t.user' | translate}}</p-divider>
                        <form [formGroup]="userForm" class="p-fluid">
                            <div class="p-field">
                                <label for="firstName">{{'t.firstname' | translate}}:*</label>
                                <input type="firstName" pInputText id="firstName" formControlName="firstName" required
                                    placeholder="{{'t.firstname' | translate}}" />
                                <div
                                    *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)">
                                    <div *ngIf="userForm.get('firstName')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                    <div *ngIf="userForm.get('firstName')?.errors?.pattern">
                                        <small class="p-error">{{'t.validateName' | translate}}</small>
                                    </div>
                                    <div *ngIf="userForm.get('firstName')?.errors?.maxlength">
                                        <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field">
                                <label for="lastName">{{'t.lastname' | translate}}:*</label>
                                <input type="lastName" pInputText id="lastName" formControlName="lastName" required
                                    placeholder="{{'t.lastname' | translate}}" />
                                <div
                                    *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)">
                                    <div *ngIf="userForm.get('lastName')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                    <div *ngIf="userForm.get('lastName')?.errors?.pattern">
                                        <small class="p-error">{{'t.validateName' | translate}}</small>
                                    </div>
                                    <div *ngIf="userForm.get('lastName')?.errors?.maxlength">
                                        <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field">
                                <label for="dni">{{'t.dni' | translate}}:*</label>
                                <input type="dni" pInputText id="dni" formControlName="dni" required
                                    placeholder="{{'t.dni' | translate}}" />
                                <div
                                    *ngIf="userForm.get('dni')?.invalid && (userForm.get('dni')?.dirty || userForm.get('dni')?.touched)">
                                    <div *ngIf="userForm.get('dni')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                    <div *ngIf="userForm.get('dni')?.errors?.maxlength">
                                        <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label>Rol:*</label>
                                <div *ngFor="let role of subroles" class="p-fluid p-field-checkbox">
                                    <p-radioButton [inputId]="'role' + role.code" name="role" [value]="role.value"
                                        [(ngModel)]="subroleSelectedValue" [ngModelOptions]="{ standalone: true }"
                                        (onClick)="userForm.get('role')?.setValue(this.subroleSelectedValue)">
                                    </p-radioButton>
                                    <label [for]="'role' + role.code">{{ role.label }}</label>
                                </div>
                                <div
                                    *ngIf="userForm.get('role')?.invalid && (userForm.get('role')?.dirty || userForm.get('role')?.touched)">
                                    <div *ngIf="userForm.get('role')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-grid p-jc-end">
                                <button pButton pRipple [label]="'t.next' | translate" icon="pi pi-arrow-right"
                                    class="p-col p-button-text p-col-6" matStepperNext
                                    (click)="validateAllFormFields(userForm)"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>
            <!-- ACCESS STEP-->
            <mat-step [stepControl]="accessForm">
                <ng-template matStepLabel>{{'t.access' | translate}}</ng-template>
                <div class="p-grid p-mt-1 p-mx-0 p-jc-center">
                    <div class="p-col-12 p-md-8 p-lg-4">
                        <p-divider align="center">{{'t.access' | translate}}</p-divider>
                        <form [formGroup]="accessForm" class="p-fluid">
                            <div class="p-field">
                                <label for="username">{{'t.emailPersonal' | translate}}:*</label>
                                <input type="text" pInputText id="username" formControlName="username" required
                                    placeholder="{{'t.emailPersonal' | translate}}" />
                                <div
                                    *ngIf="accessForm.get('username')?.invalid && (accessForm.get('username')?.dirty || accessForm.get('username')?.touched)">
                                    <div *ngIf="accessForm.get('username')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                    <div *ngIf="accessForm.get('username')?.errors?.pattern">
                                        <small class="p-error">{{'t.errorEmail' | translate}}</small>
                                    </div>
                                    <div *ngIf="accessForm.get('username')?.errors?.maxlength">
                                        <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field">
                                <label for="password">{{'t.password2' | translate}}:*</label>
                                <p-password formControlName="password" [toggleMask]="true" [feedback]="true"
                                    [weakLabel]="'t.weak' | translate" [mediumLabel]="'t.medium' | translate"
                                    [strongLabel]="'t.strong' | translate" [mediumRegex]="patternPassword"
                                    placeholder="{{'t.password' | translate}} *">
                                </p-password>
                                <div
                                    *ngIf="accessForm.get('password')?.invalid && (accessForm.get('password')?.dirty || accessForm.get('password')?.touched)">
                                    <div *ngIf="accessForm.get('password')?.errors?.required">
                                        <small class="p-error">{{'t.validateRequiredField' | translate}}</small>
                                    </div>
                                    <div *ngIf="accessForm.get('password')?.errors?.pattern">
                                        <small id="password-help" class="p-error">{{'t.errorPassword' |
                                            translate}}</small>
                                    </div>
                                    <div *ngIf="accessForm.get('password')?.errors?.maxlength">
                                        <small class="p-error">{{'t.validateMaxLength' | translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                                    <li>{{'t.onelowercase' | translate}}</li>
                                    <li>{{'t.oneuppercase' | translate}}</li>
                                    <li>{{'t.onenumber' | translate}}</li>
                                    <li>{{'t.minchars' | translate:{'min':'7'} }}</li>
                                    <li>Caracteres especiales permitidos: #?!@$%^&*</li>
                                </ul>
                            </div>
                            <div class="p-grid p-jc-between">
                                <button pButton pRipple [label]="'t.back' | translate" icon="pi pi-arrow-left"
                                    class="p-button-text p-col-6" matStepperPrevious></button>
                                <button pButton pRipple [label]="'t.next' | translate" icon="pi pi-arrow-right"
                                    class="p-button-text p-col-6" matStepperNext
                                    (click)="validateAllFormFields(accessForm)"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-step>
            <!-- FINSIH -->
            <mat-step>
                <ng-template matStepLabel>{{'t.save' | translate}}</ng-template>
                <div class="p-grid p-mt-1 p-mx-0 p-jc-center">
                    <div class="p-col-12 p-md-9 p-lg-6">
                        <p-divider align="center">{{'t.save' | translate}}</p-divider>
                        <p>{{'t.accountcreateready' | translate}}</p>
                        <p-card>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-4 p-lg-4 muli-bold">{{'t.user' | translate}}:</div>
                                <div class="p-col-12 p-md-8 p-lg-8">{{userForm.get('firstName')?.value}}
                                    {{userForm.get('lastName')?.value}}</div>
                            </div>
                            <div class="p-grid">
                                <div class="p-col-12 p-md-4 p-lg-4 muli-bold">{{'t.user' | translate}}:</div>
                                <div class="p-col-12 p-md-8 p-lg-8">{{accessForm.get('username')?.value}}</div>
                            </div>
                        </p-card>
                        <div class="p-grid p-jc-between p-mt-3">
                            <button pButton pRipple [label]="'t.back' | translate" icon="pi pi-arrow-left"
                                class="p-button-text p-col-6" matStepperPrevious></button>
                            <button pButton pRipple [label]="'t.save' | translate" icon="pi pi-check"
                                class="p-button-text p-col-6" (click)="onSubmit()"></button>
                        </div>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
<ngx-spinner name="save" type="ball-atom" size="medium" bdColor="rgba(0,0,0,0.5)">
    <p style="font-size: 14px; color: white">{{'t.saving' | translate}}</p>
</ngx-spinner>
<ngx-spinner name="load" type="ball-clip-rotate-multiple" size="medium" bdColor="rgba(0,0,0,0.5)">
    <p style="font-size: 14px; color: white">{{'t.waiting' | translate}}</p>
</ngx-spinner>