h2 {
    color: var(--theme-color-4);
}
.label {
    color: var(--theme-color-4);
}
.qsuccess {
    color: var(--theme-color-4);
}
.qdanger {
    color: var(--theme-color-7);
}
.progress-info {
    font-size: 0.86rem;
}